* {
  box-sizing: border-box;
  font-family: monospace;
  margin: 0;
}

:root {
  background-color: black;
}

img {
  filter: grayscale(100%);
  max-width: 400px;
  transition: 0.3s ease-in-out;
}

img:hover {
  animation: loading 10s linear infinite;
  filter: grayscale(0);
}

@keyframes loading {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

p, h2 {
  color: white;
  font-size: 3em;
  margin: 10px;

}

h2, h1 {
  color: white;
  font-size: 5em;
  margin-block: 100px;
  text-align: center;
}

header {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
  width: 100%;
}

.Card {
  align-items: center;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.contentPlanet {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 90%;


}

.contentMission {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 80%;

}

.cardMission {
  background: linear-gradient(90deg, black, black, #ffffff56, black);
  background-size: 300% 300%;
  border: 1px solid rgb(36, 32, 32);
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-evenly;
  line-height: 5em;
  margin: 40px;
  padding: 10px;
  width: 25%;
}


.cardMission:hover {
  animation: gradient 5s ease 1;
  box-shadow: 0 0 11px 0 rgba(231, 167, 167, 0.75);
}

@keyframes gradient {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
